# Ignorar arquivos de configuração do Visual Studio Code
.vscode/

# Ignorar arquivos gerados pelo Node.js
node_modules/
npm-debug.log
yarn-error.log

# Ignorar arquivos gerados pelo sistema
.DS_Store
Thumbs.db

# Ignorar arquivos gerados por IDEs/Editors
.idea/
*.sublime-project
*.sublime-workspace

# Ignorar arquivos de build e saída
/dist/
/out/
/build/

# Ignorar arquivos de dependências do front-end
bower_components/

# Ignorar arquivos de cache
.cache/
